@font-face {
    font-family: kayak;
    src: url(../fonts/kayak_sans_regular.otf);
}

#sidenav {
    font-family: kayak;
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FCA311;

  }

#sidenav a {
    padding: 30px 8px 30px 8px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}

#sidenav a:hover {
    color:black;
    background-color: #eb9408;
}

@media screen and (max-height: 450px) {
    #sidenav {padding-top: 15px;}
    #sidenav a {font-size: 18px;}
}
  
body {
    background-color: #14213D;
}

.paragraph {
    border-radius: 7px;
    /* background-color: #FCA311; */
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 2px solid white;
}

#main-section {
    font-family: kayak;
    color: #ffffff;
    font-size: 30px;
    margin: 10px 30px 10px 200px;
}

hr {
    background: #e5e5e5;
    height: 25px;
}